@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@use "sass/utilities/css-variables" as cv;


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}